Package:rnr-libserial-src
Version: @VERSION@
Section: devel
Priority: optional
Architecture: @ARCH@
Maintainer: Daniel Packard <daniel@roadnarrows.com>
Description: Utilities for communicating over serial interface.
